.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form {
    padding: 50px 40px 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}
.form h2 {
    text-align: center;
    margin-bottom: 30px;
}
.formButton{
    width: 100%;
}
.errorForm{
    color: red;
}